@model List<CmsShoppingCart.Models.ViewModels.PageVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Create New Page", "AddPage")
</p>
@if (!Model.Any())
{
    <h1 class="text-center">There are no Pages</h1>
}
else
{
    
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Slug
            </th>
            <th>
                Slidebar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
        
                <td>
                    @Html.DisplayFor(modelItem => item.HasSlidebar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </table>
    
}